@tailwind base;

@layer base {
  :root {
    --primary-color: #2dd4bf;
    --secondary-color: #99f6e4;
    --muted-color: #ccfbf1;
    --hover-color: #5eead4;
  }

  .theme-red {
    --primary-color: #f87171;
    --secondary-color: #fecaca;
    --muted-color: #fee2e2;
    --hover-color: #fca5a5;
  }

  .theme-orange {
    --primary-color: #fb923c;
    --secondary-color: #fed7aa;
    --muted-color: #ffedd5;
    --hover-color: #fdba74;
  }
  .theme-yellow {
    --primary-color: #facc15;
    --secondary-color: #fef08a;
    --muted-color: #fef9c3;
    --hover-color: #fde047;
  }
  .theme-lime {
    --primary-color: #a3e635;
    --secondary-color: #d9f99d;
    --muted-color: #ecfccb;
    --hover-color: #bef264;
  }
  .theme-green {
    --primary-color: #4ade80;
    --secondary-color: #bbf7d0;
    --muted-color: #dcfce7;
    --hover-color: #86efac;
  }

  .theme-teal {
    --primary-color: #2dd4bf;
    --secondary-color: #99f6e4;
    --muted-color: #ccfbf1;
    --hover-color: #5eead4;
  }

  .theme-sky {
    --primary-color: #38bdf8;
    --secondary-color: #bae6fd;
    --muted-color: #e0f2fe;
    --hover-color: #7dd3fc;
  }
  .theme-violet {
    --primary-color: #a78bfa;
    --secondary-color: #ddd6fe;
    --muted-color: #ede9fe;
    --hover-color: #c4b5fd;
  }
}

@tailwind components;

@layer components {
  .calculation-result {
    @apply flex items-center justify-center bg-skin-primary w-80 h-40 absolute m-auto top-0 left-0 bottom-0 right-0 shadow-black drop-shadow-xl rounded-tr-2xl rounded-bl-2xl;
  }
}

@tailwind utilities;
